<%= app_form_with(model: user, url: users_signups_path) do |f| %>
  <%= f.field :name do %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  <% end %>

  <%= f.field :email do %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true, autocorrect: "off", autocapitalize: "off", spellcheck: "false" %>
  <% end %>

  <%= f.field :password do %>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  <% end %>

  <%= f.field :password_confirmation do %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  <% end %>

  <%= f.field :accept_terms do %>
    <div class="form-checkbox">
      <%= f.check_box :accept_terms, required: true %>
      <%= f.label :accept_terms do %>
        I have read and accept
        <%= link_to "terms of service", terms_path, target: "_blank" %>
        and
        <%= link_to "privacy policy", privacy_policy_path, target: "_blank" %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit "Sign up", class: "btn btn--primary btn--fw" %>
<% end %>
